@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="page-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

                @{
                    var i = 0;
                    foreach (var salon in Model.Salons)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        i++;
                    }
                }


            </ol>
            <div class="carousel-inner ">

                @{
                    i = 0;
                    foreach (var salon in Model.Salons)
                    {
                        var itemClass = i++ == 0 ? "carousel-item active " : " carousel-item ";
                        <div class="@itemClass">
                            <img src="~/img/@salon.Image" alt="..." style=" width:100%; height: 500px !important;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@salon.Header</h5>
                                <p>@salon.Description</p>
                            </div>
                        </div>
                    }

                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section class="section-margin">
            <div class="container">
                <div class="section-intro text-center pb-65px">
                    <h2 class="section-intro__title">Haberler</h2>
                </div>
                <div class="row">
                    @foreach (var item in Model.News)
                    {

                        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                            <div class="card card-blog">
                                <img height="200" width="200" class="card-img rounded-0" src="~/img/@item.ImagePath" alt="@item.ImagePath">
                                <div class="card-blog__body">
                                    <h3><a href="#">@item.Header</a></h3>
                                    <ul class="card-blog__info">
                                        <li><a href="#"><i class="ti-notepad"></i>@item.Date</a></li>
                                    </ul>
                                    <p>@item.Description</p>
                                </div>
                                <div class="card-blog__footer">
                                    <a href="#">Detay<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>


        <section class="section-margin">
            <div class="container">
                <div class="section-intro text-center pb-65px">
                    <h2 class="section-intro__title">Etkinlikler</h2>
                </div>
                <div class="row">
                    @foreach (var item in Model.Events)
                    {

                        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                            <div class="card card-blog">
                                <img height="200" width="200" class="card-img rounded-0" src="~/img/@item.ImagePath" alt="@item.ImagePath">
                                <div class="card-blog__body">
                                    <h3><a href="#">@item.Header</a></h3>
                                    <ul class="card-blog__info">
                                        <li><a href="#"><i class="ti-notepad"></i>@item.Date</a></li>
                                    </ul>
                                    <p>@item.Description</p>
                                </div>
                                <div class="card-blog__footer">
                                    <a asp-area="" asp-page="/User/News/Index" asp-route-id="@item.ID">Detay<i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>

    </div>

