@page
@model Sportif.SalonDetailsModel
@{
    ViewData["Title"] = "SalonDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<!--================Blog Area =================-->
<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div>
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="img/@Model.Salon.Image" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>@Model.Salon.Header</h2>
                        <p class="excert">
                            @Model.Salon.Description
                        </p>

                    </div>
                    <div class="col-lg-12">
                        <section class="bg-albaster section-padding--small">
                            <div class="container">
                                <div class="section-intro text-center pb-65px">
                                    <h2 class="section-intro__title">Antrenorler</h2>
                                </div>

                                <div class="owl-carousel owl-theme testimonial">
                                    @foreach (var item in Model.Trainers)
                                    {
                                        <div class="testimonial__item">
                                            <div class="row">
                                                <div class="col-md-3 col-lg-2 align-self-center">
                                                    <div class="testimonial__img">
                                                        <img class="card-img rounded-0" src="img/@item.Image" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-lg-10">
                                                    <div class="testimonial__content mt-3 mt-sm-0">
                                                        <h3>@item.Name  @item.Surname</h3>(<p>@item.DateOfBirth</p>)

                                                        <p class="testimonial__i">@item.Biography</p>
                                                        <p>@item.Contacts</p>
                                                        <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </section>

                    </div>
                </div>

                <div class="comments-area">
                    <h4>@Model.Comments.Count</h4>
                    @foreach (var item in Model.Comments)
                    {
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="desc">
                                        <h5>
                                            <a href="#">@item.ApplicationUser.Name @item.ApplicationUser.Surname</a>
                                        </h5>
                                        <p class="date">@item.Date</p>
                                        <p class="comment">
                                            @item.Content
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (User.IsInRole("User"))
                {
                    <div class="comment-form">
                        <h4>Yorum yap</h4>
                        <form method="post">
                            <input type="hidden" />
                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="2" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                                          required=""></textarea>
                            </div>
                            <a href="#" class="button button-postComment">Post Comment</a>
                        </form>
                    </div>
                }

            </div>

        </div>
    </div>
</section>
<!--================Blog Area =================-->
