@page
@model Sportif.Pages.Admin.News.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h2>Haberler</h2> <br />
            <a class="btn btn-primary" asp-page="./Create">Ekle</a>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>
                                        Başlık
                                    </th>
                                    <th>
                                        Açıklama
                                    </th>
                                    <th>
                                        İçerik
                                    </th>
                                    <th>
                                        Tarih
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.News)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Header)
                                        </td>
                                        <td>
                                            <textarea readonly rows="2">
                                               @Html.DisplayFor(modelItem => item.Description)
                                        </textarea>
                                        </td>
                                        <td>
                                            <textarea readonly rows="2">
                                                @Html.DisplayFor(modelItem => item.Content)
                                        </textarea>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fas fa-edit"></i> Edit</a> |
                                            <a asp-page="./Details" asp-route-id="@item.ID"><i class="fas fa-list-ul"></i> Details</a> |
                                            <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i> Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>